@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public-sans/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"), url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-text:#36536B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Display";
  font-family: "Public Sans";
  background-image: url(../images/Bitmap.png);
  background-repeat: no-repeat;
  background-size: 650px 600px;
  background-position: right top;
  background-color: #EDF3F8;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 65px;
  display: flex;
}

.nav-list__item + .nav-list__item {
  margin-left: 40px;
}

.nav-list__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.5px;
  color: var(--clr-text);
  opacity: 0.7;
}
.nav-list__link:active {
  opacity: 100%;
}

.header__btn {
  width: 173px;
  padding: 15px;
  background-color: rgb(186, 66, 112);
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  font-weight: 700;
  font-size: 15px;
  line-height: 17.5px;
  color: #fff;
  cursor: pointer;
}
.header__btn:active {
  background-color: rgb(218, 109, 151);
}

.logo-img {
  animation-name: logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.hero {
  width: 100%;
  padding: 75px 95px 75px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 21px;
  font-family: "DM Serif Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  color: var(--clr-text);
  letter-spacing: 0.55px;
}

.hero__label {
  position: relative;
}

.hero__input {
  width: 450px;
  margin-bottom: 16px;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  outline: none;
  color: var(--clr-text);
}
.hero__input::-moz-placeholder {
  color: var(--clr-text);
  opacity: 0.5;
  font-size: 15px;
}
.hero__input::placeholder {
  color: var(--clr-text);
  opacity: 0.5;
  font-size: 15px;
}

.hero__btn {
  position: absolute;
  margin: 0 0 0 -173px;
  width: 173px;
  padding: 15px;
  background-color: rgb(186, 66, 112);
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  line-height: 17.5px;
  cursor: pointer;
}
.hero__btn:active {
  background-color: rgb(218, 109, 151);
}

.hero__text {
  margin-left: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.5px;
  color: #6C8294;
}

.hero__link {
  font-weight: 700;
  font-size: 15px;
  color: #6C8294;
}

.hero__img {
  animation-name: tel;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.about-section {
  background-color: #1B262F;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: -18px -15px;
}

.about {
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  width: 445px;
}

.left-content__title {
  margin-bottom: 24px;
  color: #fff;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.37px;
}

.left-content__text {
  margin-bottom: 32px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.left-content__link {
  width: 130px;
  padding: 10px 10px;
  border: 2px solid #fff;
  border-radius: 24px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.left-content__link:active {
  color: #1B262F;
  background-color: #fff;
}

.right-content {
  width: 536px;
}

.right-content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.right-content__bottom {
  display: flex;
  justify-content: space-between;
}

.easy {
  padding-top: 150px;
  padding-left: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easy__content {
  width: 445px;
  text-align: start;
}

.easy__title {
  margin-bottom: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.37px;
  color: var(--clr-text);
}

.easy__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

.easy__img {
  transform: scale(1.8);
}

.simple-section {
  background-image: url(../images/simple-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.simple {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple__content {
  width: 445px;
}

.simple__title {
  margin-bottom: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.37px;
  color: var(--clr-text);
}

.simple__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

.content__img-wrapper {
  display: flex;
  gap: 40px;
}

.content__img-wrapper > img {
  transform: scale(1.5, 1.2);
}

.ready__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ready__title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.14px;
  text-align: center;
  color: var(--clr-text);
}

.ready__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.12px;
  text-align: center;
  color: #6C8294;
}

.form {
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__title {
  font-family: "DM Serif Display";
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.37px;
  color: var(--clr-text);
}

.form__input {
  width: 445px;
  padding: 15px;
  border-radius: 24px;
  outline: none;
  border: 2px solid transparent;
  color: var(--clr-text);
}
.form__input::-moz-placeholder {
  color: var(--clr-text);
  opacity: 0.5;
  font-size: 15px;
}
.form__input::placeholder {
  color: var(--clr-text);
  opacity: 0.5;
  font-size: 15px;
}
.form__input:hover {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.form__btn {
  position: absolute;
  margin: 0 0 0 -173px;
  width: 173px;
  padding: 15px;
  background-color: rgb(186, 66, 112);
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  line-height: 17.5px;
  cursor: pointer;
}
.form__btn:active {
  background-color: rgb(218, 109, 151);
}

.site-footer {
  background-color: #1B262F;
}

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer-left__list {
  margin-left: 64px;
  display: flex;
}

.footer-list__item + .footer-list__item {
  margin-left: 40px;
}

.footer-list__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.63px;
  color: #FBFCFE;
  opacity: 0.7;
}

.footer__right {
  display: flex;
  gap: 40px;
}/*# sourceMappingURL=main.css.map */